.bash_history
.cache/
.cargo/
.cinnamon/
.config/FreeTube/
.config/syncthing/
.config/transmission/
.config/xed/
.emacs.d/
.gitconfig
.linuxmint/
.local/share/
.mozilla/
.rustup/
.ssh/
.thunderbird/
.xsession*
books/
data
dotfiles/
Camera/
Desktop/
Documents/
Downloads/
Music/
Pictures/
tmp/
Videos/
workspace/
.X*
