.bash_history
.cache/
.cargo/
.cinnamon/
.config/FreeTube/
.config/GIMP/
.config/ibus/
.config/libreoffice/
.config/MongoDB Compass/
.config/pulse/
.config/session/
.config/Slack/
.config/syncthing/
.config/transmission/
.config/VSCodium/
.config/xed/
.config/google-chrome/
.config/chromium/
.devpi/
.emacs.d/
.gitconfig
.ipython/
.kivy/
.linuxmint/
.local/
.mongodb/
.mozilla/
.npm/
.nv/
.pylint.d/
.rustup/
.ssh/
.thunderbird/
.vscode-oss/
.xsession*
books/
data
dotfiles/
Camera/
Desktop/
Documents/
Downloads/
Fonts/
Music/
Pictures/
Videos/
miniconda/
tmp/
workspace/
.X*
.zoom/
